.DrawingMenu {
  position: absoolute;
  display: none;
  padding: 0.5rem;
  border: 1px solid #282828;

  &.open {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: white;
    z-index: 1;
  }

  h2 {
    font-size: 1.75rem;
    color: #282828;
  }

  input {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;

    &.DrawingMenu__search-input {
      background-image: url('./assets/icons/uxwing_search-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.25rem 1.25rem;
      background-position: calc(100% - 0.25rem) center;
    }
  }
}

.DrawingMenu__search-results {
  position: absolute;
  top: 90px;
  left: 0.5rem;
  width: calc(100% - 1rem);
  max-height: 118px;
  overflow-y: auto;
  display: none;
  background-color: white;
  border: 1px solid #282828;

  &.open {
    display: block;
  }
}

.DrawingMenu__search-result {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
  }
}

.DrawingMenu__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;

  button {
    font-size: 1.25rem;
    padding: 0.25rem;
  }
}